//modals-admin-goods.scss
.modal {

   .modals-admin-goods {
      @include tableStyle;
      width: 100%;
      margin: 0.8rem 0 0.2rem;
      

      .table.goods-table {

         .table-tr {
            .th-style {
               width: 16%;
            }
            
            .admin-goods-btn {
               .button {
                  padding: 10px 0 !important;
                  width: 40%;
                  
                  &.red {
                     background-color: var(--dynamic-red);
                  }
                  &.green {
                     background-color: var(--app-green);
                  }
               }

            }
            
         }
      }
   }


 }