// search.css //

.form-group-wrapper {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 6px 0;

   &:not(:last-child)::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      display: block;
      width: 100%;
      height: 1px;
      // background-color: var(--dynamic-black);
      background-color: var(--dynamic-light-gray);
   }
   .datetime {
      flex-grow: 3;
      display: flex;
      align-items: center;

      .input-group-addon {
         padding: 12px 14px;
         font-size: 14px;
         font-weight: 400;
         line-height: 1;
         color: #555;
         text-align: center;
         background-color: var(--dynamic-black);
         border: 1px solid var(--app-gray-c);
         border-radius: 4px;
         height: 40px;
         cursor: pointer;
      }
   }

   .form-group {
      flex-grow: 6;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin: 8px;
      padding-left: 4px;
      padding-right: 4px;

      .dash {
         padding: 0 14px;
         color: var(--dynamic-gray);
      }

      label {
         position: relative;
         display: flex;
         align-items: center;
         margin-right: 10px;
         margin-top: 2px;
         padding-left: 1px;
         min-width: 100px;
         color: $dynamic-gray;
         font-size: 0.9rem;

         &.nobar {
            &::before {
               display: none;
            }
         }

         &::before {
            content: '';
            display: block;
            position: absolute;
            left: -8px;
            // top: 0;
            width: 4px;
            height: 16px;
            background-color: $app-gray-c;
         }
      } 

      .form-control-select {
         width: 100%;
         height: 40px;
         font-size: 14px;
         line-height: 1.4;
         background-image: none;
         color: var(--dynamic-black);
         background-color: var(--dynamic-white);
         border: 1px solid $app-gray-c;
         border-radius: 4px;
         padding: 4px;
      }
      

      .form-control {
         display: block;
         width: 100%;
         height: 40px;
         font-size: 14px;
         line-height: 1.4;
         background-image: none;
         color: var(--dynamic-black);
         background-color: var(--dynamic-white);
         border: 1px solid $app-gray-c;
         border-radius: 4px;
         &.detail-control {
            width: 40%;
            min-width: 400px;
         }
      }

    //   .form-control, .form-control-select //
      input, select {
        border: 1px solid var(--dynamic-white) ;
        color: var(--dynamic-white) ;
      }

   }

   .button {
      flex-grow: 1;
    //   padding: 0;
    padding: 0 10px;
      margin: 0;
      height: 40px;
      color: $dynamic-white;
   }

}